/* =============================================================================
	Colors
	
	# Defines color-variables
	
	========================================================================== */
	
	$color-primary: #aadf4e;
	$color-secondary: #6ec2dd;
	$color-trinary: #df4e6d;
	
	$color-dark: #282c21;
	$color-bright: #d8ecb4;
	
	$color-bg: #f9f9f2;