/* =============================================================================
	Colors
	
	# Defines color-variables
	
	========================================================================== */
	
	$colors: (
		primary:	#D70553,
		secondary:	#7DDA7E,
		trinary:	#74023A,
		dark:		#260E22,
		bright:		#F1EB6D,
		bg:			lighten(#F1EB6D, 25%)
	);
	
	// mit color(['key']) wird der Wert returned
	@function color($name) {
		@return map-get($colors, $name);
	}
	
	// generates classes, based on $colors
	@each $color-name, $color-value in $colors {
		.bgcolor--#{$color-name} {
			background-color: #{$color-value};
		}
		.txtcolor--#{$color-name} {
			color: #{$color-value};
		}
	}
	
	
	
	/* ====== expanding misc classes ====== */
	
	.bgcolor--white {
		background-color: #fff;
	}
	
	.txtcolor--white {
		color: #fff;
	}
	
	.swatch {
		height: 6em;
		width: 6em;
		line-height: 6em;
	}