/* =============================================================================
	Footer
	========================================================================== */
	
	.footer_global {
		background-color: color(dark);
		color: #fff;
		line-height: 80px;
		font-size: 0.7rem;
	}