/* =============================================================================
	Grid-Generator v 1.0.0
	
	# creates a grid system based on user-defined inputs
	
	! This Grid System is fluid, not yet responsive. Its purpouse is to support you in rapid prototyping.
	
	========================================================================== */

	$grid-max-cols: 12;
	$grid-cols-margin: 0.70175439%; // equals 8px margin-left & -right on 1140px container max-width
	$grid-container-max-width: 1140px;

	$grid-col-1-width: ( (100% / $grid-max-cols) );
	
	// generate Grid-Classes
	@for $i from 1 through $grid-max-cols {
		.grid-col-#{$i} {
			width: ( ($grid-col-1-width * $i) - ( 2 * $grid-cols-margin));
			float: left;
			margin: 0 $grid-cols-margin;
			
			// no margin left
			&.margin-virgin {
				width: $grid-col-1-width * $i;
				margin: 0 0;
			}
			
			// no margin right
			&.margin-alpha {
				width: ($grid-col-1-width * $i) - $grid-cols-margin;
				margin: 0 $grid-cols-margin 0 0;
			}
			
			// no margin right or left
			&.margin-omega {
				width: ($grid-col-1-width * $i) - $grid-cols-margin;
				margin: 0 0 0 $grid-cols-margin;
			}
		}
	}
	
	// fill-classes: use repel-# to fill missing col-width with margin-left, or soak-# to fill with right margin-right
	@for $i from 1 through $grid-max-cols {
		.repel-#{$i} {
			margin-left: ( ($grid-col-1-width * $i) + $grid-cols-margin );
		}
		.soak-#{$i} {
			margin-right: ( ($grid-col-1-width * $i) + $grid-cols-margin );
		}
	}
	
	// container
	.grid-container {
		margin: 0 auto;
		clear: left;
		max-width: $grid-container-max-width;
		@include clearfix();
	}
